{% extends "base.html" %}
{% block content %}
    <hr/>

    <form action='{{url_for('logout')}}' method='get'>
        <input type='submit' value='Log out'/>
    </form>

    <br/>

    <form action='{{url_for('user_home')}}' method='get'>
        <input type='submit' value='Back'/>
    </form>


    <h2>Transformations!</h2>


    <div style="text-align:center;">
    {% for i in ['', '_flopped.png', '_rotated.png', '_gray.png'] %}

        {% if i == '' %}
            <img src=" {{url_for('send_image_trans',filename=filename+i)}}" > <h3>full version</h3>
            <br/><br/>
        {% else %}
            <img src=" {{url_for('send_image_trans',filename=filename+i)}}" > <h3>{{i}}</h3>
            <br/><br/>
        {% endif %}

    {% endfor %}
    </div>


{% endblock %}
