{% extends "base.html" %}
{% block content %}
    <hr>
    <form action='{{url_for('logout')}}' method='post'>
        <input type='submit' value='Log out'/ >
    </form>


<div><h3>If you have uploaded some images, it will be shown below：</h3></div>
    <br>

    <div>
       <style>
        .img-cs{
            height:15%;
            margin-left:10px;
        }
       </style>
               {% for row  in cursor %}

                    <a href="{{url_for('images_trans', filename=row[1])}}" >
                          <img src=" {{url_for('send_image', filename=row[1])}}" class="img-cs"  >
                    </a>
                {% endfor %}


    </div>

    <br><br><hr>

<div><h3>You can also upload your images below:</h3></div>

    <form action="{{ url_for('images_upload') }}" method="POST" enctype="multipart/form-data">

        <input type="file" name="file" accept="image/*" multiple>
        <input type="submit" value="send">

    </form>


{% endblock %}
